* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
.T12 {
  border: 1px solid black;
  margin: 2px;
  position: relative;
  padding-top: 50px;
  background-color: thistle;
}

/* .T1 {
        position: relative;
        padding-top: 50px;
      } */

.innerbox1 {
  border: 1px solid black;
  height: 30px;
  width: 60px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: chocolate;
}
.innerbox2 {
  border: 1px solid black;
  height: 30px;
  width: 60px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: red;
}
.innerbox3 {
  border: 1px solid black;
  height: 30px;
  width: 60px;
  top: 0;
  right: 0;
  position: absolute;
  background-color: yellow;
}

@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
  }
  .col-lg-4 {
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
}
